{% include 'Common/View/header.twig' %}
{% block body %}
	<body class="top-wave" style="font-family:Lato;">
	{% endblock %}
	<section class="container">
		<ul>
		<select class="sorting-button">
		<option selected="">Sortuj</option>
		<option>Od A do Z</option>
		<option>Od Z do A</option>
		<option>Najświeższe</option>
		<option>Najstarsze</option>
		</select>
		{% for post in posts %}
			<li class="u-margin--medium clearfix">
				<a href="/blog/{{ post.id }}" class="post-box__img">
					<img class="post-box__img" src="{{post.image}}" alt=""></img>
				</a>
				<div class="post-box__description">
					<a href="/blog/{{ post.id }}" class="post-description__header clearfix">
						<span class="post post-description__date">{{post.date}}</span>
						<h2 class="post-description__title">{{ post.title }}</h2>
					</a>
					<p class="post-description__preamble module line-clamp">{{ post.preamble }}</p>			
					<a href="/blog/{{ post.id }}" class="read-more-button">
						<span>Zobacz więcej</span>
						<img src="/img/icon-back.svg" class="move-forward-icon" alt="it is an upside-down alternative text as this class works this way"></img>
					</a>
				</div>
			</li>
			
		{% endfor %}
		</ul>
	</section>
	{% include 'Common/View/footer.twig' %}
</body>	